<div class="container mt-5">
    <form class="shadow p-4 bg-white" (ngSubmit)="saveData()" [formGroup]="addCoursFormGroup" style="border-top: #01b4ba solid 2px;">
        <h1 class="bg-samaprimary text-white p-2 mx-1 text-center">
            <span>
                <i class="bi bi-record-circle-fill fs-2">&nbsp;</i>
                <i class="bi bi-record-circle-fill fs-2">&nbsp;</i> 
                <i class="bi bi-record-circle-fill fs-2">&nbsp;</i>
                <i class="bi bi-record-circle-fill fs-2">&nbsp;</i>
                <i class="bi bi-record-circle-fill fs-2">&nbsp;</i>
                <i class="bi bi-record-circle-fill fs-2">&nbsp;</i>
                &nbsp;&nbsp;&nbsp;
            </span> 
            Planification d'un module
            <span>
                &nbsp;&nbsp;&nbsp;
                <i class="bi bi-record-circle-fill fs-2">&nbsp;</i>
                <i class="bi bi-record-circle-fill fs-2">&nbsp;</i> 
                <i class="bi bi-record-circle-fill fs-2">&nbsp;</i>
                <i class="bi bi-record-circle-fill fs-2">&nbsp;</i>
                <i class="bi bi-record-circle-fill fs-2">&nbsp;</i>
                <i class="bi bi-record-circle-fill fs-2">&nbsp;</i>
            </span> 
        </h1>

        <div class="alert h5" id="msg-info" role="alert" #msgInfo>
            <marquee loop="1" behavior="slide" scrollamount="150" direction="left" id="txt">A simple primary alert—check it out!</marquee>
        </div>

        <!-- Ligne 1 -->
        <div class="row mb-3">
            <div class="col">
                <label for="module" class="form-label">Module</label>
                <ng-select class="form-control" id="module" placeholder="*** Séléctionner un module ***" *ngIf="modules.length > 0"   (change)="onModuleChange($event)" formControlName="module" [ngClass]="{
                    'is-invalid': (moduleCtrl.touched || moduleCtrl.dirty) && moduleCtrl.invalid,
                    'is-valid': (moduleCtrl.touched || moduleCtrl.dirty) && moduleCtrl.valid
                  }">
                    <ng-option *ngFor="let module of modules" [value]="module.id">{{ module.libelle }}</ng-option>
                </ng-select>
                <div class="invalid-feedback">
                    <span *ngIf="moduleCtrl.errors?.['required']">Le module est obligatoire...</span>
                    <span *ngIf="moduleCtrl.errors?.['min']">Le module doit exister...</span>
                </div>
            </div>
            <div class="col">
                <label for="professeur" class="form-label">Professeur</label>
                <ng-container *ngIf="profs.length > 0">
                    <ng-select class="form-control" id="professeur" placeholder="*** Séléctionner un professeur ***" [clearable]="false" formControlName="prof" [ngClass]="{
                        'is-invalid': (profCtrl.touched || profCtrl.dirty) && profCtrl.invalid,
                        'is-valid': (profCtrl.touched || profCtrl.dirty) && profCtrl.valid
                      }">
                        <ng-option *ngFor="let prof of profs" [value]="prof.id">{{ prof.prenom }} {{ prof.nom }}</ng-option>
                    </ng-select>
                    <div class="invalid-feedback">
                        <span *ngIf="profCtrl.errors?.['required']">Le module est obligatoire...</span>
                        <span *ngIf="profCtrl.errors?.['min']">Le module doit exister...</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="!(profs.length > 0)">
                    <input class="form-control mt-2" type="text" disabled>
                </ng-container>
            </div>
        </div>

        <!-- Ligne 2 -->
        <div class="row mb-3">
            <div class="col">
                <table class="table border border-2">
                    <thead class="bg-samasecondary">
                        <tr class="bg-samasecondary">
                            <th class="text-white" style="background-color: #01b4ba;">Classes Ouverts</th>
                            <th class="text-white" style="background-color: #01b4ba;">Nombre d'heures Globales</th>
                            <th class="text-white" style="background-color: #01b4ba;">Action</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="classes">
                        <ng-container *ngFor="let item of classesCtrl.controls; let i = index">
                            <tr [formGroupName]="i">
                                <td class="col-6" *ngIf="item.get('classe') as classeCtrl">
                                    <ng-select class="form-control" *ngIf="classes.length > 0" placeholder="*** Selectionner une classe ***" formControlName="classe" [ngClass]="{
                                        'is-invalid': (classeCtrl.touched || classeCtrl.dirty) && classeCtrl.invalid,
                                        'is-valid': (classeCtrl.touched || classeCtrl.dirty) && classeCtrl.valid
                                      }">
                                        <ng-option *ngFor="let classe of classes" [value]="classe.id">{{ classe.libelle }}</ng-option>
                                    </ng-select>
                                    <div class="invalid-feedback" >
                                        <span *ngIf="classeCtrl.errors?.['required']">Le classe est obligatoire...</span>
                                        <span *ngIf="classeCtrl.errors?.['min']">Le classe doit exister...</span>
                                        <span *ngIf="classeCtrl.errors?.['invalidUniq']">La classe doit être unique...</span>
                                    </div>
                                </td>
                                <td *ngIf="item.get('heure') as heureCtrl">
                                    <input type="number" class="form-control mt-2" placeholder="exemple:8 (pour dire 8h)" formControlName="heure" [ngClass]="{
                                        'is-invalid': (heureCtrl.touched || heureCtrl.dirty) && heureCtrl.invalid,
                                        'is-valid': (heureCtrl.touched || heureCtrl.dirty) && heureCtrl.valid
                                      }"/>
                                      <div class="invalid-feedback" >
                                        <span *ngIf="heureCtrl.errors?.['required']">L'heure est obligatoire...</span>
                                        <span *ngIf="heureCtrl.errors?.['min']">L'heure doit être positif...</span>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger mt-2" (click)="supprimerLigne(i)"><i class="bi bi-trash3-fill"></i> Supprimer</button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Ligne 3 -->
        <div class="row">
            <div class="col text-start myhover">
                <button type="button" class="btn btn-secondary py-3 px-5" (click)="ajouterLigne()"><i class="bi bi-plus-circle-fill"></i> &nbsp; Ajouter une ligne</button>
            </div>
            <div class="col text-end myhover">
                <button type="reset" class="btn me-2 py-3 px-5 text-white" style="background-color: #FF7F00;"><i class="bi bi-x-octagon-fill"></i> &nbsp; Annuler</button>
                <button type="submit" [disabled]="!addCoursFormGroup.valid" class="btn btn-primary py-3 px-5 border border-white" style="background-color: #01b4ba;"><i class="bi bi-floppy-fill"></i> &nbsp; Enregistrer</button>
            </div>
        </div>
    </form>
</div>

