<div class="custom-event-actions text-center d-flex flex-column ">
    <h5 class="bg-samaprimary p-2 m-1 text-white" style="border-radius: 20px;">{{ event.title }}</h5>
    <h6 class="text-samasecondary m-1 mt-3">Prof: Mr. Mamadou Samba</h6>
    <h6 class="text-samaprimary m-1">salle: Sonko</h6>
    <p class="text-secondary m-1">Etat: Annulé</p>
    <div class="d-flex justify-content-between mt-auto">
        <button class="btn btn-danger me-1" (click)="cancelEvent($event)">
            <i class="bi bi-trash3-fill"></i>
            supprimer
        </button>
        <button class="btn btn-success ms-1" (click)="updateEvent($event, 'formSessionCours')">
            <i class="bi bi-calendar2-date-fill"></i>
            modifier
        </button>
    </div>
</div>
  
<!-- #mwlCalendarEventActions -->